/* Global Styles  */

html, body {
  overflow-x: hidden;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

/* Navbar  */
.navbar  {
  background-color: #5382b7;
  border-color: transparent;
  font-family: monospace;
}

.login {
  background-color: #222f79;
  color:#ffffff;
}
.navbar-brand, .navbar-nav {
  color:#ffffff !important;
  font-size: 20px;
}

/* Jumbotron  */
.jumbotron {
  margin-bottom: 0px;
  background-image: url("../img/bg-masthead.jpg");
  height: 100vh;

}

.mainTitle {
  padding-top: 150px;
}
/* Features  */
.keyFeatures {
  height: 65vh;
}

/* showcase  */
.showcase {
  height: 60vh;
}
/* banner  */
.banner {
background-color:rgba(51, 51, 51, 0.733);
padding: 20px 0px;
}
/* Meet the Team  */
.meet {
  padding-top: 65px;
  height: 80vh;
}
.teamPic {
  height: 250px;
  width: 200px !important;
}

@media (max-width: 1024px) {
  .meet {
    height: 145vh;
  };
}
